<a href="https://colab.research.google.com/github/geraldotavora/ANDROID/blob/master/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [ ]:
!python -V

Python 3.8.10

# 1.3 Trabalhando com dados

In [ ]:
import pandas as pd
#pd.set_option('display.max_row', 10)
#pd.set_option('display.max_column', 1000)

In [ ]:
dataset = pd.read_csv('db.csv', sep=';')

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [ ]:
()

()

In [ ]:
1,2,3

(1, 2, 3)

In [ ]:
nome = 'passat'
valor = 134000
(nome, valor)

('passat', 134000)

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nomes_carros[0]

'Jetta Variant'

In [ ]:
nomes_carros[1]

'Passat'

In [ ]:
nomes_carros[-1]

'DS5'

In [ ]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
nomes_carros[-1][1]

'Gol'

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3]

False

In [ ]:
carros[-1][-1][-1]

'Freios ABS'

In [ ]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nomes_carros

In [ ]:
carro_1

'Jetta Variant'

In [ ]:
carro_2

'Passat'

In [ ]:
carro_3

'Crossfox'

In [ ]:
carro_4

'DS5'

In [ ]:
_, A, _, B = nomes_carros

In [ ]:
A

'Passat'

In [ ]:
B

'DS5'

In [ ]:
_, C, *_ = nomes_carros

In [ ]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro, valor)

Passat 106161.94
DS5 124549.07

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
for carro in carros:
  for car in carro[-1]:
    print(car)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

In [ ]:
nome, valor = ('Passat', 100000.0)

In [ ]:
nomes = ['Passat', 'Crossfox']
valores = [100000.0, 75000.0]
list(zip(nomes, valores))

[('Passat', 100000.0), ('Crossfox', 75000.0)]

In [ ]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
list(zip(nomes, kms))

[('Passat', 15000),
 ('Crossfox', 12000),
 ('DS5', 32000),
 ('C4', 8000),
 ('Jetta', 50000)]

In [ ]:
for nome, km in zip(nomes, kms):
  if(km < 20000):
    print(nome)

Passat
Crossfox
C4

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
carros.index('Passat')

1

In [ ]:
valores[carros.index('Passat')]

106161.94

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
type(dados)

dict

### Criando dicionários com *zip()*

In [ ]:
dados = dict(list(zip(carros, valores)))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [ ]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [ ]:
'Passat' in dados

True

In [ ]:
'Fusca' in dados

False

In [ ]:
'Fusca' not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [ ]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [ ]:
dados['DS5'] = 123549.07
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 123549.07}

In [ ]:
len(dados)

4

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [ ]:
del dados['Passat']
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 123549.07}

In [ ]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 123549.07}

In [ ]:
dados = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [ ]:
'acessorios' in dados['Crossfox']

False

In [ ]:
'acessorios' in dados['Passat']

True

In [ ]:
dados['Crossfox']['valor']

25000

In [ ]:
dados['Passat']['acessorios'][-1]

'ABS'

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [ ]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [ ]:
dados.update({'Passat': 106161.94})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [ ]:
dados['lambo'] = 123123123.0
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'lambo': 123123123.0}

In [ ]:
len(dados)

5

In [ ]:
#del(dados['lambo'])

In [ ]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [ ]:
dados.update({'Passat': 106161.95})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
dados.update({'Passat': 106161.96, 'Fusca': 150000.0})
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.96,
 'Fusca': 150000.0}

## *dict.copy()*

Cria uma cópia do dicionário.

In [ ]:
dadosCopy = dados.copy()

In [ ]:
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.96,
 'Fusca': 150000.0}

In [ ]:
del dadosCopy['Fusca']

In [ ]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.96,
 'Fusca': 150000.0}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [ ]:
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.96}

In [ ]:
dadosCopy.pop('Passat')
dadosCopy

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

In [ ]:
#dadosCopy.pop('Passat')

KeyError: ignored

In [ ]:
dadosCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [ ]:
dadosCopy.pop('DS5', 'chave nao encontrada')

124549.07

In [ ]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

## *dict.clear()*

Remove todos os itens do dicionário.

In [ ]:
dadosCopy.clear()

In [ ]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [ ]:
dados = {'Crossfox': 72832.16, 'DS5': 124549.07,  'Fusca': 150000,  'Jetta Variant': 88078.64,  'Passat': 106161.95}
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Fusca': 150000,
 'Jetta Variant': 88078.64,
 'Passat': 106161.95}

In [ ]:
dados.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta Variant', 'Passat'])

In [ ]:
for key in dados.keys():
  print(dados[key])

72832.16
124549.07
150000
88078.64
106161.95

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [ ]:
dados.values()

dict_values([72832.16, 124549.07, 150000, 88078.64, 106161.95])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [ ]:
dados.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.07), ('Fusca', 150000), ('Jetta Variant', 88078.64), ('Passat', 106161.95)])

In [ ]:
for item in dados.items():
  print(item)

('Crossfox', 72832.16)
('DS5', 124549.07)
('Fusca', 150000)
('Jetta Variant', 88078.64)
('Passat', 106161.95)

In [ ]:
 for key, value in dados.items():
   print(key, value)

Crossfox 72832.16
DS5 124549.07
Fusca 150000
Jetta Variant 88078.64
Passat 106161.95

In [ ]:
 for key, value in dados.items():
   if(value > 100000):
    print(key, value)

DS5 124549.07
Fusca 150000
Passat 106161.95

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [1]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
dados = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [ ]:
for key, value in dados.items():
    if(value['ano'] >= 2000):
      print(key)

Crossfox
DS5
Jetta

In [ ]:
for item in dados.items():
  if(item[1]['ano'] >= 2000):
    print(item[0])

Crossfox
DS5
Jetta

In [2]:
valores = []
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [3]:
soma = 0
for valor in dados.values():
  soma += valor
soma

267072.74

In [4]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [5]:
sum(dados.values())

267072.74

In [7]:
sum(dados.values(), 1000000)

1267072.7399999998

In [8]:
list?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [9]:
def media():
  valor = (1+2+3)/3
  print(valor)

In [10]:
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [11]:
def media(num_1, num_2, num_3):
  valor = (num_1+num_2+num_3)/3
  print(valor)

In [12]:
media(2,5,9)

5.333333333333333

In [13]:
def media(lista):
  valor = sum(lista)/ len(lista)
  print(valor)

In [19]:
resultado = media([1,2,3,5,2,6,7,7,8,8,9,9,9,9,9])

6.266666666666667

In [20]:
resultado

In [21]:
type(resultado)

NoneType

In [22]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [25]:
def km_media(dataset, ano_atual):
  for item in dataset:
    medias = dataset[item]['km'] / (ano_atual - dataset[item]['ano'])
    print(medias)

In [44]:
def km_media(dataset, ano_atual):
  for item in dataset.items():
    result = item[1]['km'] / (ano_atual - item[1]['ano'])
    print(result)

In [45]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [53]:
def media(lista):
  valor = sum(lista)/ len(lista)
  return (valor, len(lista))

In [57]:
result = media([1,2,4,5,6])
result

(3.6, 5)

In [55]:
type(result)

tuple

In [58]:
res, n = result

In [59]:
res

3.6

In [60]:
n

5

In [61]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [73]:
def km_mediad(dataset, ano_atual):
  result = {}
  for item in dataset.items():
    media = item[1]['km'] / (ano_atual - item[1]['ano'])
    #result[item[0]] = media
    result.update({item[0]: media})
  return result

In [74]:
km_mediad(dados, 2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

In [75]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [84]:
def km_mediat(dataset, ano_atual):
  result = {}
  for item in dataset.items():
    media = item[1]['km'] / (ano_atual - item[1]['ano'])
    item[1].update({'km_media': media}) 
    result.update({item[0]: item[1]})
  return result

In [85]:
km_mediat(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [86]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [87]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [88]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [93]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [94]:
dataset = pd.DataFrame(dados)

In [97]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [98]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [99]:
dataset = pd.DataFrame(dados)

In [100]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [109]:
dataset = pd.read_csv('db.csv', sep=';', index_col = 0)

In [110]:
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [111]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [112]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [113]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [125]:
carros = pd.DataFrame(km_media(dados, 2019)).T

In [126]:
carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [127]:
dataset = pd.read_csv('db.csv', sep=';', index_col = 0)

In [129]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [131]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [134]:
type(dataset['Valor'])

pandas.core.series.Series

In [135]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [136]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [137]:
dataset[:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [138]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [141]:
dataset.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [142]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [144]:
dataset.loc[:,['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

In [148]:
dataset.loc[:,['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [151]:
dataset.iloc[1]

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [154]:
dataset.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [161]:
dataset.iloc[1:4, [0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [162]:
dataset.iloc[[1,42, 22], [0,5,2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

In [163]:
import pandas as pd

dados = {
    'Nome': ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados)

In [164]:
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor']][1:2]

     Nome   Ano  Quilometragem     Valor
1  Passat  2003         5712.0  106000.0

In [165]:
dataset[['Nome', 'Ano', 'Quilometragem', 'Valor']][1:3]

       Nome   Ano  Quilometragem     Valor
1    Passat  2003         5712.0  106000.0
2  Crossfox  1991        37123.0   72000.0

In [2]:
import pandas as pd
dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor 2.0', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [3]:
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5             Motor 2.0  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [7]:
dataset.iloc[[1,3],[0,-1]]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

In [8]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

               Motor     Valor
Passat  Motor Diesel  106000.0
DS5        Motor 2.0   89000.0

# 5.3 Queries com DataFrames

In [22]:
dataset = pd.read_csv('db.csv', sep =";", index_col=0)
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [23]:
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [25]:
select = dataset.Motor == 'Motor Diesel'

In [27]:
type(select)

pandas.core.series.Series

In [29]:
dataset[select]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Freios ABS', 'Câmera de estacionamento', 'Câ...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Câmera de estacionamento', '4 X 4', 'Travas ...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Teto panorâmico', '4 X 4', 'Bancos de couro'...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimídia', 'Ar condiciona...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Câmbio automático', 'Freios ABS', '...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Bancos de couro', 'Sensor de chuva', 'Ar con...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Freios ABS', 'Teto panorâmico', 'Central mul...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Teto panorâmico', 'Câmb...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Controle de tração', 'Ar condicionado', 'Tra...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Controle de tração', 'Piloto automático', 'T...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Controle de tração', 'Sensor de estacionamen...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de chuva', 'Vidros elétricos', 'Contr...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Rodas de liga', 'Sensor crepuscular', 'Ar co...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [30]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

### Utilizando o método query

In [35]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [36]:
import pandas as pd

dados = {
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8', 'Motor Diesel', 'Motor 1.6'],
    'Ano': [2019, 2003, 1991, 2019, 1990],
    'Quilometragem': [0.0, 5712.0, 37123.0, 0.0, 120000.0],
    'Zero_km': [True, False, False, True, False],
    'Valor': [88000.0, 106000.0, 72000.0, 89000.0, 32000.0]
}

dataset = pd.DataFrame(dados, index = ['Jetta', 'Passat', 'Crossfox', 'DS5', 'Fusca'])

In [37]:
dataset

                    Motor   Ano  Quilometragem  Zero_km     Valor
Jetta     Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat       Motor Diesel  2003         5712.0    False  106000.0
Crossfox  Motor Diesel V8  1991        37123.0    False   72000.0
DS5          Motor Diesel  2019            0.0     True   89000.0
Fusca           Motor 1.6  1990       120000.0    False   32000.0

In [43]:
dataset.query('Ano >= 2000')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

In [44]:
dataset.query('Motor == "Motor Diesel" or Zero_km == True')

                  Motor   Ano  Quilometragem  Zero_km     Valor
Jetta   Motor 4.0 Turbo  2019            0.0     True   88000.0
Passat     Motor Diesel  2003         5712.0    False  106000.0
DS5        Motor Diesel  2019            0.0     True   89000.0

# 5.4 Iterando com DataFrames

In [45]:
dataset = pd.read_csv('db.csv', sep =";", index_col=0)
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [46]:
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [49]:
dataset.iterrows()

In [52]:
for index, row in dataset.iterrows():
  if(2019 - row['Ano'] != 0):
    dataset.loc[index, 'Km_media'] = row['Quilometragem'] / (2019 - row['Ano'])
  else:
    dataset.loc[index, 'Km_media'] = 0
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [ ]:
list(dataset.iterrows())

In [61]:
list(dataset.items())

[('Motor', Nome
  Jetta Variant                  Motor 4.0 Turbo
  Passat                            Motor Diesel
  Crossfox                       Motor Diesel V8
  DS5                            Motor 2.4 Turbo
  Aston Martin DB4               Motor 2.4 Turbo
                                   ...
  Phantom 2013                          Motor V8
  Cadillac Ciel concept                 Motor V8
  Classe GLK               Motor 5.0 V8 Bi-Turbo
  Aston Martin DB5                  Motor Diesel
  Macan                          Motor Diesel V6
  Name: Motor, Length: 258, dtype: object), ('Ano', Nome
  Jetta Variant            2003
  Passat                   1991
  Crossfox                 1990
  DS5                      2019
  Aston Martin DB4         2006
                           ...
  Phantom 2013             2014
  Cadillac Ciel concept    1991
  Classe GLK               2002
  Aston Martin DB5         1996
  Macan                    1992
  Name: Ano, Length: 258, dtype: int64), ('Quilometragem', Nome
  Jetta Variant            44410.0
  Passat                    5712.0
  Crossfox                 37123.0
  DS5                          NaN
  Aston Martin DB4         25757.0
                            ...
  Phantom 2013             27505.0
  Cadillac Ciel concept    29981.0
  Classe GLK               52637.0
  Aston Martin DB5          7685.0
  Macan                    50188.0
  Name: Quilometragem, Length: 258, dtype: float64), ('Zero_km', Nome
  Jetta Variant            False
  Passat                   False
  Crossfox                 False
  DS5                       True
  Aston Martin DB4         False
                           ...
  Phantom 2013             False
  Cadillac Ciel concept    False
  Classe GLK               False
  Aston Martin DB5         False
  Macan                    False
  Name: Zero_km, Length: 258, dtype: bool), ('Acessórios', Nome
  Jetta Variant            ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Passat                   ['Central multimídia', 'Teto panorâmico', 'Fre...
  Crossfox                 ['Piloto automático', 'Controle de estabilidad...
  DS5                      ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Aston Martin DB4         ['Rodas de liga', '4 X 4', 'Central multimídia...
                                                 ...
  Phantom 2013             ['Controle de estabilidade', 'Piloto automátic...
  Cadillac Ciel concept    ['Bancos de couro', 'Painel digital', 'Sensor ...
  Classe GLK               ['Rodas de liga', 'Controle de tração', 'Câmbi...
  Aston Martin DB5         ['Ar condicionado', '4 X 4', 'Câmbio automátic...
  Macan                    ['Central multimídia', 'Teto panorâmico', 'Vid...
  Name: Acessórios, Length: 258, dtype: object), ('Valor', Nome
  Jetta Variant             88078.64
  Passat                   106161.94
  Crossfox                  72832.16
  DS5                      124549.07
  Aston Martin DB4          92612.10
                             ...
  Phantom 2013              51759.58
  Cadillac Ciel concept     51667.06
  Classe GLK                68934.03
  Aston Martin DB5         122110.90
  Macan                     90381.47
  Name: Valor, Length: 258, dtype: float64), ('Km_media', Nome
  Jetta Variant            2775.625000
  Passat                    204.000000
  Crossfox                 1280.103448
  DS5                         0.000000
  Aston Martin DB4         1981.307692
                              ...
  Phantom 2013             5501.000000
  Cadillac Ciel concept    1070.750000
  Classe GLK               3096.294118
  Aston Martin DB5          334.130435
  Macan                    1858.814815
  Name: Km_media, Length: 258, dtype: float64)]

In [59]:
list(dataset.itertuples())

[Pandas(Index='Jetta Variant', Motor='Motor 4.0 Turbo', Ano=2003, Quilometragem=44410.0, Zero_km=False, Acessórios="['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']", Valor=88078.64, Km_media=2775.625),
 Pandas(Index='Passat', Motor='Motor Diesel', Ano=1991, Quilometragem=5712.0, Zero_km=False, Acessórios="['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento']", Valor=106161.94, Km_media=204.0),
 Pandas(Index='Crossfox', Motor='Motor Diesel V8', Ano=1990, Quilometragem=37123.0, Zero_km=False, Acessórios="['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']", Valor=72832.16, Km_media=1280.103448275862),
 Pandas(Index='DS5', Motor='Motor 2.4 Turbo', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Travas elétricas', '4 X 4', 'Vidros elétricos', 'Sensor crepuscular', 'Sensor de chuva', 'Câmera de estacionamento', 'Ar condicionado', 'Rodas de liga']", Valor=124549.07, Km_media=0.0),
 Pandas(Index='Aston Martin DB4', Motor='Motor 2.4 Turbo', Ano=2006, Quilometragem=25757.0, Zero_km=False, Acessórios="['Rodas de liga', '4 X 4', 'Central multimídia', 'Ar condicionado', 'Controle de estabilidade', 'Câmbio automático', 'Sensor de estacionamento', 'Piloto automático']", Valor=92612.1, Km_media=1981.3076923076924),
 Pandas(Index='Palio Weekend', Motor='Motor 1.8 16v', Ano=2012, Quilometragem=10728.0, Zero_km=False, Acessórios="['Sensor de estacionamento', 'Teto panorâmico', 'Sensor crepuscular', 'Painel digital', 'Ar condicionado', 'Rodas de liga', 'Controle de estabilidade', 'Bancos de couro']", Valor=97497.73, Km_media=1532.5714285714287),
 Pandas(Index='A5', Motor='Motor 4.0 Turbo', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Câmbio automático', 'Câmera de estacionamento', 'Freios ABS', 'Controle de tração', 'Central multimídia', 'Travas elétricas', 'Sensor crepuscular', 'Rodas de liga']", Valor=56445.2, Km_media=0.0),
 Pandas(Index='Série 3 Cabrio', Motor='Motor 1.0 8v', Ano=2009, Quilometragem=77599.0, Zero_km=False, Acessórios="['Controle de estabilidade', 'Sensor crepuscular', 'Controle de tração', 'Teto panorâmico', 'Travas elétricas', 'Piloto automático', 'Painel digital', 'Câmera de estacionamento']", Valor=112310.44, Km_media=7759.9),
 Pandas(Index='Dodge Jorney', Motor='Motor 3.0 32v', Ano=2010, Quilometragem=99197.0, Zero_km=False, Acessórios="['Vidros elétricos', 'Piloto automático', 'Teto panorâmico', 'Ar condicionado', 'Bancos de couro', 'Câmbio automático', 'Rodas de liga', 'Travas elétricas']", Valor=120716.27, Km_media=11021.888888888889),
 Pandas(Index='Carens', Motor='Motor 5.0 V8 Bi-Turbo', Ano=2011, Quilometragem=37978.0, Zero_km=False, Acessórios="['Ar condicionado', 'Painel digital', 'Central multimídia', 'Sensor crepuscular', 'Câmbio automático', 'Rodas de liga', 'Controle de tração', 'Câmera de estacionamento']", Valor=76566.49, Km_media=4747.25),
 Pandas(Index='Ford Edge', Motor='Motor Diesel V6', Ano=2002, Quilometragem=12859.0, Zero_km=False, Acessórios="['Sensor crepuscular', 'Rodas de liga', 'Teto panorâmico', 'Sensor de chuva', 'Travas elétricas', 'Sensor de estacionamento', 'Controle de tração', 'Ar condicionado']", Valor=71647.59, Km_media=756.4117647058823),
 Pandas(Index='Courier', Motor='Motor Diesel V8', Ano=2007, Quilometragem=8052.0, Zero_km=False, Acessórios="['Central multimídia', '4 X 4', 'Piloto automático', 'Teto panorâmico', 'Controle de estabilidade', 'Câmera de estacionamento', 'Bancos de couro', 'Vidros elétricos']", Valor=73919.53, Km_media=671.0),
 Pandas(Index='S-18', Motor='Motor V6', Ano=2001, Quilometragem=89773.0, Zero_km=False, Acessórios="['Bancos de couro', 'Sensor de chuva', 'Rodas de liga', 'Central multimídia', 'Travas elétricas', 'Ar condicionado', 'Câmera de estacionamento', 'Sensor crepuscular']", Valor=112732.99, Km_media=4987.388888888889),
 Pandas(Index='J5', Motor='Motor V6', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Sensor crepuscular', 'Painel digital', 'Rodas de liga', 'Freios ABS', 'Câmbio automático', 'Controle de tração', 'Central multimídia', 'Câmera de estacionamento']", Valor=53183.38, Km_media=0.0),
 Pandas(Index='F-Type Coupé', Motor='Motor 5.0 V8 Bi-Turbo', Ano=2009, Quilometragem=41457.0, Zero_km=False, Acessórios="['Piloto automático', 'Sensor crepuscular', 'Sensor de chuva', 'Ar condicionado', 'Sensor de estacionamento', 'Controle de tração', 'Câmera de estacionamento', 'Vidros elétricos']", Valor=127488.42, Km_media=4145.7),
 Pandas(Index='RAM', Motor='Motor Diesel V8', Ano=2016, Quilometragem=115607.0, Zero_km=False, Acessórios="['Sensor crepuscular', 'Câmbio automático', 'Sensor de chuva', 'Central multimídia', 'Controle de estabilidade', '4 X 4', 'Freios ABS', 'Piloto automático']", Valor=59910.4, Km_media=38535.666666666664),
 Pandas(Index='Série 1', Motor='Motor 3.0 32v', Ano=2012, Quilometragem=46449.0, Zero_km=False, Acessórios="['Teto panorâmico', 'Câmera de estacionamento', 'Travas elétricas', '4 X 4', 'Painel digital', 'Central multimídia', 'Rodas de liga', 'Freios ABS']", Valor=61118.59, Km_media=6635.571428571428),
 Pandas(Index='A3', Motor='Motor 1.0 8v', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['4 X 4', 'Piloto automático', 'Central multimídia', 'Teto panorâmico', 'Sensor de estacionamento', 'Controle de tração', 'Controle de estabilidade', 'Sensor de chuva']", Valor=88552.39, Km_media=0.0),
 Pandas(Index='XC90', Motor='Motor 1.0 8v', Ano=2016, Quilometragem=37086.0, Zero_km=False, Acessórios="['Travas elétricas', 'Vidros elétricos', 'Teto panorâmico', 'Central multimídia', 'Controle de estabilidade', '4 X 4', 'Câmbio automático', 'Sensor de chuva']", Valor=62696.69, Km_media=12362.0),
 Pandas(Index='RS 3 Sportback', Motor='Motor 3.0 32v', Ano=2017, Quilometragem=15173.0, Zero_km=False, Acessórios="['4 X 4', 'Piloto automático', 'Central multimídia', 'Bancos de couro', 'Sensor de chuva', 'Rodas de liga', 'Ar condicionado', 'Sensor crepuscular']", Valor=101726.3, Km_media=7586.5),
 Pandas(Index='Pajero Sport', Motor='Motor 1.0 8v', Ano=2002, Quilometragem=101193.0, Zero_km=False, Acessórios="['Sensor de estacionamento', 'Piloto automático', 'Câmbio automático', 'Painel digital', 'Freios ABS', 'Câmera de estacionamento', 'Rodas de liga', 'Controle de estabilidade']", Valor=106147.38, Km_media=5952.529411764706),
 Pandas(Index='Série 1 M', Motor='Motor V8', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Controle de estabilidade', 'Central multimídia', 'Painel digital', 'Sensor crepuscular', 'Sensor de chuva', 'Câmera de estacionamento', 'Ar condicionado', 'Freios ABS']", Valor=94564.4, Km_media=0.0),
 Pandas(Index='Lamborghini Obvious', Motor='Motor Diesel V6', Ano=1994, Quilometragem=98079.0, Zero_km=False, Acessórios="['Rodas de liga', 'Câmbio automático', 'Travas elétricas', 'Teto panorâmico', 'Controle de estabilidade', 'Central multimídia', 'Sensor de estacionamento', 'Sensor crepuscular']", Valor=133529.84, Km_media=3923.16),
 Pandas(Index='Effa Hafei Picape Baú', Motor='Motor Diesel', Ano=1991, Quilometragem=102959.0, Zero_km=False, Acessórios="['Controle de estabilidade', 'Painel digital', 'Vidros elétricos', '4 X 4', 'Sensor crepuscular', 'Ar condicionado', 'Travas elétricas', 'Central multimídia']", Valor=125684.65, Km_media=3677.1071428571427),
 Pandas(Index='Lamborghini Murciélago', Motor='Motor 5.0 V8 Bi-Turbo', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Freios ABS', 'Câmbio automático', 'Ar condicionado', 'Câmera de estacionamento', 'Controle de tração', 'Central multimídia', 'Sensor crepuscular', 'Controle de estabilidade']", Valor=121596.21, Km_media=0.0),
 Pandas(Index='Up!', Motor='Motor Diesel V6', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Sensor de estacionamento', 'Vidros elétricos', 'Freios ABS', 'Central multimídia', 'Controle de estabilidade', 'Sensor de chuva', 'Câmbio automático', 'Piloto automático']", Valor=71367.1, Km_media=0.0),
 Pandas(Index='Fiesta Rocam Sedan', Motor='Motor 4.0 Turbo', Ano=2016, Quilometragem=5795.0, Zero_km=False, Acessórios="['Ar condicionado', 'Bancos de couro', 'Câmbio automático', 'Câmera de estacionamento', 'Piloto automático', 'Controle de estabilidade', 'Sensor de chuva', 'Vidros elétricos']", Valor=95347.75, Km_media=1931.6666666666667),
 Pandas(Index='Sandero Stepway', Motor='Motor 3.0 32v', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Freios ABS', 'Ar condicionado', 'Teto panorâmico', 'Painel digital', 'Sensor de estacionamento', 'Vidros elétricos', 'Sensor crepuscular', 'Piloto automático']", Valor=105432.84, Km_media=0.0),
 Pandas(Index='Cayman S', Motor='Motor 3.0 32v', Ano=2002, Quilometragem=58848.0, Zero_km=False, Acessórios="['Câmbio automático', 'Sensor de estacionamento', 'Rodas de liga', 'Vidros elétricos', '4 X 4', 'Bancos de couro', 'Painel digital', 'Travas elétricas']", Valor=57045.27, Km_media=3461.6470588235293),
 Pandas(Index='V40', Motor='Motor 4.0 Turbo', Ano=1991, Quilometragem=94381.0, Zero_km=False, Acessórios="['Câmera de estacionamento', 'Sensor de estacionamento', 'Rodas de liga', 'Controle de tração', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Sensor de chuva']", Valor=120432.7, Km_media=3370.75),
 Pandas(Index='Classe SLS AMG', Motor='Motor 1.0 8v', Ano=1997, Quilometragem=30163.0, Zero_km=False, Acessórios="['Sensor de estacionamento', 'Controle de estabilidade', 'Sensor de chuva', 'Travas elétricas', 'Painel digital', 'Sensor crepuscular', 'Piloto automático', 'Bancos de couro']", Valor=70707.2, Km_media=1371.0454545454545),
 Pandas(Index='Gol G4', Motor='Motor 2.0 16v', Ano=1995, Quilometragem=53332.0, Zero_km=False, Acessórios="['Sensor crepuscular', '4 X 4', 'Vidros elétricos', 'Controle de tração', 'Ar condicionado', 'Câmera de estacionamento', 'Painel digital', 'Freios ABS']", Valor=69105.18, Km_media=2222.1666666666665),
 Pandas(Index='Linea', Motor='Motor 1.0 8v', Ano=2018, Quilometragem=17720.0, Zero_km=False, Acessórios="['Piloto automático', 'Painel digital', 'Vidros elétricos', 'Controle de tração', 'Teto panorâmico', 'Ar condicionado', 'Câmera de estacionamento', 'Rodas de liga']", Valor=59358.69, Km_media=17720.0),
 Pandas(Index='Ford F100', Motor='Motor 2.0 16v', Ano=1991, Quilometragem=33808.0, Zero_km=False, Acessórios="['Controle de tração', 'Sensor crepuscular', 'Travas elétricas', 'Bancos de couro', 'Câmera de estacionamento', 'Rodas de liga', 'Central multimídia', '4 X 4']", Valor=65955.4, Km_media=1207.4285714285713),
 Pandas(Index='J2', Motor='Motor V8', Ano=2014, Quilometragem=90684.0, Zero_km=False, Acessórios="['Teto panorâmico', 'Sensor de estacionamento', 'Bancos de couro', 'Vidros elétricos', 'Freios ABS', 'Rodas de liga', 'Travas elétricas', 'Câmbio automático']", Valor=60017.03, Km_media=18136.8),
 Pandas(Index='Aston Martin DBS', Motor='Motor V8', Ano=1995, Quilometragem=43975.0, Zero_km=False, Acessórios="['Teto panorâmico', 'Piloto automático', 'Ar condicionado', 'Vidros elétricos', 'Bancos de couro', 'Travas elétricas', 'Sensor de chuva', 'Sensor crepuscular']", Valor=118909.52, Km_media=1832.2916666666667),
 Pandas(Index='Pajero TR4', Motor='Motor 2.4 Turbo', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Controle de tração', 'Bancos de couro', 'Câmera de estacionamento', 'Controle de estabilidade', 'Vidros elétricos', 'Piloto automático', 'Rodas de liga', 'Teto panorâmico']", Valor=51606.59, Km_media=0.0),
 Pandas(Index='Polo Sedan', Motor='Motor V6', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Sensor de chuva', 'Sensor crepuscular', 'Ar condicionado', 'Sensor de estacionamento', 'Teto panorâmico', 'Câmbio automático', 'Vidros elétricos', 'Travas elétricas']", Valor=123281.87, Km_media=0.0),
 Pandas(Index='California', Motor='Motor 1.0 8v', Ano=2009, Quilometragem=5526.0, Zero_km=False, Acessórios="['Rodas de liga', 'Ar condicionado', 'Câmera de estacionamento', 'Painel digital', 'Travas elétricas', 'Sensor crepuscular', 'Central multimídia', 'Freios ABS']", Valor=69770.18, Km_media=552.6),
 Pandas(Index='S60', Motor='Motor 2.4 Turbo', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar condicionado', 'Controle de tração', 'Central multimídia', 'Painel digital', 'Sensor crepuscular']", Valor=102609.54, Km_media=0.0),
 Pandas(Index='Tucson', Motor='Motor 2.0 16v', Ano=2013, Quilometragem=93415.0, Zero_km=False, Acessórios="['Vidros elétricos', 'Sensor crepuscular', 'Freios ABS', 'Câmera de estacionamento', 'Piloto automático', 'Travas elétricas', 'Câmbio automático', '4 X 4']", Valor=67997.19, Km_media=15569.166666666666),
 Pandas(Index='HB20', Motor='Motor V6', Ano=2003, Quilometragem=40762.0, Zero_km=False, Acessórios="['Sensor de chuva', 'Travas elétricas', 'Controle de tração', 'Freios ABS', 'Ar condicionado', 'Teto panorâmico', 'Vidros elétricos', 'Câmbio automático']", Valor=135235.29, Km_media=2547.625),
 Pandas(Index='Optima', Motor='Motor 1.8 16v', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Central multimídia', 'Ar condicionado', 'Teto panorâmico', 'Freios ABS', 'Painel digital', 'Controle de estabilidade', '4 X 4', 'Sensor de estacionamento']", Valor=86641.34, Km_media=0.0),
 Pandas(Index='Logan', Motor='Motor 4.0 Turbo', Ano=2002, Quilometragem=86302.0, Zero_km=False, Acessórios="['Câmera de estacionamento', 'Vidros elétricos', 'Central multimídia', 'Sensor de chuva', 'Sensor crepuscular', 'Painel digital', 'Ar condicionado', 'Bancos de couro']", Valor=136818.39, Km_media=5076.588235294118),
 Pandas(Index='Range Rover Vogue', Motor='Motor 1.0 8v', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['4 X 4', 'Vidros elétricos', 'Rodas de liga', 'Central multimídia', 'Câmera de estacionamento', 'Sensor de estacionamento', 'Piloto automático', 'Ar condicionado']", Valor=117626.73, Km_media=0.0),
 Pandas(Index='Sonata', Motor='Motor 5.0 V8 Bi-Turbo', Ano=2002, Quilometragem=9755.0, Zero_km=False, Acessórios="['Piloto automático', 'Ar condicionado', 'Vidros elétricos', '4 X 4', 'Sensor de estacionamento', 'Bancos de couro', 'Travas elétricas', 'Controle de estabilidade']", Valor=56208.7, Km_media=573.8235294117648),
 Pandas(Index='Ford New Fiesta Sedan', Motor='Motor 3.0 32v', Ano=2004, Quilometragem=69945.0, Zero_km=False, Acessórios="['Teto panorâmico', 'Painel digital', 'Ar condicionado', 'Central multimídia', '4 X 4', 'Controle de estabilidade', 'Câmbio automático', 'Sensor de chuva']", Valor=84222.65, Km_media=4663.0),
 Pandas(Index='Série 5 Gran Turismo', Motor='Motor 4.0 Turbo', Ano=2001, Quilometragem=2395.0, Zero_km=False, Acessórios="['Controle de tração', 'Piloto automático', 'Ar condicionado', 'Bancos de couro', 'Freios ABS', 'Central multimídia', 'Sensor de chuva', '4 X 4']", Valor=90781.65, Km_media=133.05555555555554),
 Pandas(Index='CR-V', Motor='Motor Diesel V8', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Câmbio automático', 'Central multimídia', 'Vidros elétricos', 'Controle de estabilidade', 'Controle de tração', 'Bancos de couro', 'Freios ABS', 'Painel digital']", Valor=64701.1, Km_media=0.0),
 Pandas(Index='Ford EcoSport', Motor='Motor 1.0 8v', Ano=2003, Quilometragem=80349.0, Zero_km=False, Acessórios="['Vidros elétricos', 'Piloto automático', 'Painel digital', 'Freios ABS', 'Bancos de couro', 'Teto panorâmico', 'Sensor de chuva', 'Rodas de liga']", Valor=126350.49, Km_media=5021.8125),
 Pandas(Index='Versa', Motor='Motor 3.0 32v', Ano=2009, Quilometragem=85554.0, Zero_km=False, Acessórios="['Bancos de couro', 'Ar condicionado', 'Rodas de liga', 'Sensor crepuscular', 'Travas elétricas', 'Sensor de estacionamento', 'Piloto automático', 'Controle de estabilidade']", Valor=148152.89, Km_media=8555.4),
 Pandas(Index='Classe E', Motor='Motor 1.0 8v', Ano=2006, Quilometragem=50496.0, Zero_km=False, Acessórios="['Freios ABS', 'Sensor de estacionamento', 'Central multimídia', 'Câmera de estacionamento', 'Ar condicionado', 'Teto panorâmico', 'Câmbio automático', 'Piloto automático']", Valor=132298.83, Km_media=3884.3076923076924),
 Pandas(Index='Carnival', Motor='Motor V8', Ano=2000, Quilometragem=67716.0, Zero_km=False, Acessórios="['Travas elétricas', 'Câmbio automático', 'Câmera de estacionamento', 'Freios ABS', 'Central multimídia', 'Rodas de liga', 'Teto panorâmico', 'Controle de estabilidade']", Valor=137627.63, Km_media=3564.0),
 Pandas(Index='Aston Martin V8 Vantage Roadster', Motor='Motor 2.4 Turbo', Ano=2006, Quilometragem=93947.0, Zero_km=False, Acessórios="['Câmbio automático', 'Câmera de estacionamento', 'Vidros elétricos', 'Controle de estabilidade', 'Central multimídia', 'Piloto automático', 'Sensor crepuscular', 'Travas elétricas']", Valor=80422.71, Km_media=7226.692307692308),
 Pandas(Index='Hoggar', Motor='Motor 5.0 V8 Bi-Turbo', Ano=2010, Quilometragem=35345.0, Zero_km=False, Acessórios="['Controle de estabilidade', 'Bancos de couro', 'Sensor de chuva', 'Painel digital', 'Vidros elétricos', 'Freios ABS', 'Controle de tração', 'Ar condicionado']", Valor=56373.99, Km_media=3927.222222222222),
 Pandas(Index='A1', Motor='Motor 5.0 V8 Bi-Turbo', Ano=1994, Quilometragem=81007.0, Zero_km=False, Acessórios="['Painel digital', 'Câmbio automático', 'Câmera de estacionamento', 'Freios ABS', 'Controle de estabilidade', 'Sensor crepuscular', '4 X 4', 'Ar condicionado']", Valor=70846.03, Km_media=3240.28),
 Pandas(Index='Aston Martin DB7 Vantage', Motor='Motor V6', Ano=2007, Quilometragem=119513.0, Zero_km=False, Acessórios="['Sensor crepuscular', 'Piloto automático', 'Teto panorâmico', 'Freios ABS', 'Câmbio automático', 'Central multimídia', 'Vidros elétricos', 'Sensor de estacionamento']", Valor=128694.23, Km_media=9959.416666666666),
 Pandas(Index='CLA', Motor='Motor 1.0 8v', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Central multimídia', 'Sensor de chuva', 'Controle de estabilidade', 'Sensor crepuscular', 'Rodas de liga', 'Piloto automático', '4 X 4', 'Vidros elétricos']", Valor=133329.19, Km_media=0.0),
 Pandas(Index='Accord', Motor='Motor V8', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Sensor de estacionamento', 'Ar condicionado', 'Central multimídia', 'Controle de tração', 'Rodas de liga', 'Teto panorâmico', 'Sensor de chuva', 'Câmera de estacionamento']", Valor=131961.43, Km_media=0.0),
 Pandas(Index='EXTRA 103EX', Motor='Motor 2.0 16v', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Sensor de estacionamento', 'Central multimídia', 'Bancos de couro', 'Sensor crepuscular', 'Teto panorâmico', 'Controle de tração', 'Piloto automático', 'Sensor de chuva']", Valor=112033.27, Km_media=0.0),
 Pandas(Index='Sorento', Motor='Motor Diesel', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Sensor de chuva', 'Câmera de estacionamento', 'Sensor de estacionamento', 'Controle de estabilidade', 'Rodas de liga', 'Travas elétricas', 'Vidros elétricos', 'Controle de tração']", Valor=81399.35, Km_media=0.0),
 Pandas(Index='Tiggo', Motor='Motor 3.0 32v', Ano=2019, Quilometragem=nan, Zero_km=True, Acessórios="['Câmera de estacionamento', 'Freios ABS', 'Piloto automático', 'Vidros elétricos', 'Câmbio automático', 'Sensor crepuscular', 'Sensor de estacionamento', 'Controle de tração']", Valor=97163.1, Km_media=0.0),
 Pandas(Index='New Fiesta Hatch', Motor='Motor Diesel', Ano=2017, Quilometragem=118895.0, Zero_km=False, Acessórios="['Sensor de estacionamento', 'Travas elétricas', 'Piloto automático', 'Rodas de liga', 'Controle de tração', 'Ar condicionado', '4 X 4', 'Sensor crepuscular']", Valor=66007.16, Km_media=59447.5),

# 5.5 Tratamento de dados

In [62]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692

In [63]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [64]:
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [65]:
dataset[dataset.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [66]:
dataset.fillna(0, inplace = True)

In [71]:
dataset.query('Quilometragem == 0')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [72]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  258 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [73]:
dataset = pd.read_csv('db.csv', sep=";")

In [74]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [75]:
dataset.dropna(subset = ['Quilometragem'], inplace = True)

In [76]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [77]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           197 non-null    object
 1   Motor          197 non-null    object
 2   Ano            197 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        197 non-null    bool
 5   Acessórios     197 non-null    object
 6   Valor          197 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 11.0+ KB

In [82]:
dataset.Quilometragem.isna()

0      False
1      False
2      False
4      False
5      False
       ...
253    False
254    False
255    False
256    False
257    False
Name: Quilometragem, Length: 197, dtype: bool